@charset "UTF-8";
html {
  font-size: 20px; }

.thin-line {
  position: relative; }
  .thin-line:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    -webkit-transform: scale(1, 0.5);
            transform: scale(1, 0.5);
    background: #ddd; }
  .thin-line:last-child:after {
    display: none; }

* {
  -webkit-tap-highlight-color: transparent; }

html, body {
  width: 100%; }

body {
  font-family: 'PingFangSC-Regular';
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  overflow: auto; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

input {
  outline: none; }

input::-ms-clear, input::-ms-reveal {
  display: none; }

::-webkit-input-placeholder {
  color: #ccc; }
#cnzz_stat_icon_1273825318 {
  display: none;
}
.small-font {
  font-size: 12px; }

.btn-box {
  width: 100%;
  padding: 0 35px;
  margin-top: 30px; }
  .btn-box .normal-btn, .btn-box .green-btn {
    width: 100%;
    line-height: 42px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    background: #F06059; }
  .btn-box .green-btn {
    background: #00bf20; }
  .btn-box .disable {
    background: #ddd;
    color: #fff; }

/*底部导航样式*/
.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7f7f7; }
  .footer-nav .nav-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 50px;
    text-align: center;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
    line-height: 1; }
    .footer-nav .nav-item.actived {
      color: #F06059; }
      .footer-nav .nav-item.actived .jxtj {
        background-position: 0 60%; }
      .footer-nav .nav-item.actived .spfl {
        background-position: 0 80%; }
      .footer-nav .nav-item.actived .wode {
        background-position: 0 100%; }
    .footer-nav .nav-item .icon {
      width: 22px;
      height: 22px;
      margin-bottom: 4px;
      background: url("../images/footer_icon1.png?1") no-repeat;
      background-size: 100% auto; }
    .footer-nav .nav-item .jxtj {
      background-position: 0 0; }
    .footer-nav .nav-item .spfl {
      background-position: 0 20%; }
    .footer-nav .nav-item .wode {
      background-position: 0 40%; }

/*mask样式*/
.bgmask {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7); }
  .bgmask.alert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .bgmask.alert .bgmask-alert {
      padding: 10px 25px;
      background: rgba(58, 58, 58, 0.9);
      border-radius: 6px;
      font-size: 13px;
      color: #fff;
      top: -60px;
      position: relative; }
    .bgmask.alert .bgmask-loading {
      width: 90px;
      height: 90px;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 6px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .bgmask.alert .bgmask-loading img {
        width: 40px; }
  .bgmask .bgmask-wrap {
    position: relative;
    top: 150px;
    right: 0;
    left: 0;
    overflow: hidden;
    width: 300px;
    min-height: 90px;
    margin: auto;
    border-radius: 7px;
    background: #fff; }
    .bgmask .bgmask-wrap.image {
      top: 80px; }
  .bgmask .bgmask-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .bgmask .bgmask-footer .bgmask-button {
      line-height: 44px;
      position: relative;
      bottom: 0;
      width: 100%;
      height: 44px;
      text-align: center;
      color: #108ee9;
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
      .bgmask .bgmask-footer .bgmask-button:first-child {
        font-weight: bold; }
      .bgmask .bgmask-footer .bgmask-button:after {
        position: absolute;
        content: '';
        width: 1px;
        top: 0;
        right: 0;
        bottom: 0;
        background: #ddd; }
      .bgmask .bgmask-footer .bgmask-button:last-child:after {
        display: none; }
  .bgmask .bgmask-body {
    padding: 30px 15px; }
  .bgmask .bgmask-body.content {
    padding-top: 21px;
    position: relative; }
  .bgmask .image .bgmask-body {
    padding: 0 !important; }
  .bgmask .bgmask-body.content .content-title {
    font-size: 17px;
    color: #000; }
  .bgmask .bgmask-body.content .content-text {
    font-size: 13px;
    color: #000;
    padding: 9px 0 12.5px; }
  .bgmask .bgmask-body.content .content-tips {
    font-size: 13px;
    color: #888; }
  .bgmask .bgmask-body.content .close {
    position: absolute;
    background: url("../images/sprite.png") no-repeat;
    background-size: auto 100%;
    background-position: 0px 0px;
    width: 21px;
    height: 21px;
    right: 10px;
    top: 15px; }
  .bgmask .bgmask-body .text {
    font-size: 13px;
    line-height: 16px;
    text-align: center; }
  .bgmask .bgmask-body .title {
    font-size: 17px;
    line-height: 21px;
    padding-bottom: 9px;
    text-align: center; }
  .bgmask .bgmask-body img {
    width: 100%;
    display: block; }
