html {
  font-size: 20px; }

.thin-line {
  position: relative; }
  .thin-line:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    -webkit-transform: scale(1, 0.5);
            transform: scale(1, 0.5);
    background: #ddd; }
  .thin-line:last-child:after {
    display: none; }

.list {
  width: 100%;
  padding: 10px 0; }
  .list .list-item {
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
    display: block; }
  .list .top {
    width: 100%;
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 13px; }
  .list .center {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f5f5f5;
    padding: 10px 15px; }
    .list .center .left {
      width: 80px;
      height: 80px;
      background: #ddd;
      margin-right: 10px; }
    .list .center .right {
      font-size: 14px; }
      .list .center .right .small-tips {
        font-size: 12px;
        color: #888; }
  .list .bottom {
    width: 100%;
    padding: 10px 15px;
    font-size: 13px;
    color: #F06059;
    text-align: right; }

.font-base {
  color: #F06059; }
